/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --background: #F5F5F5;
    --primary: #4A148C;
    --primary-light: #7c43bd;
    --secondary: #568c14;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    max-height: 100%;
    font-family: 'Lato';
    background: var(--background);
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

button{
    min-width: 100px;
    height: 40px;
    background-color: #4A148C;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Lato';
}

.icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    margin: 0.5rem;
    font-size: small;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    height: auto;
}

.icon-btn-invert{
    background-color: white;
    padding: 0;
    color: #4A148C;
}

.icon-btn-col{
    flex-flow: column;
}

.icon-btn-row {
    flex-flow: row;
}

.icon-btn:hover{
    background-color: #7c43bd;
}

.icon-btn-invert:hover {
  color: #7c43bd;
  background-color: white;
}

header button{
    border: 2px solid white;
}

a:visited{
    color: white;
}

nav a:hover{
    border-bottom: 2px solid white;
}

/* layout */
.container{
    width: 80%;
    margin: auto;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 0.5rem 0.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 2rem;
    margin-bottom: 3rem;
}

footer{
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
    margin-top: 3rem;
}

nav ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.login-form{
    border-right: 0.5px solid var(--primary);
}

/* .register-form{
    border-left: 0.5px solid var(--primary);
} */

.login-form, .register-form{
    padding: 1rem 5rem; 
    display: flex;
    flex-flow: column;
}

.form-head{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 2rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
}

.form-field{
    display: grid;
    grid-template-columns: auto ;
    gap: 0.5rem;
    margin: 1rem 0;
    position: relative;
}

.form-field input, .form-field select{
    line-height: 1.5rem;
    padding: 0 1rem;
    height: 2rem;
    outline: none;
    border: 1px solid var(--primary-light);
    border-radius: 10px;
}

.form-field input[type="date"]{
    text-align: center;
}

.form-field input:hover,
.form-field select:hover {
  border:1px solid var(--primary);
}

.form-field input:focus,.form-field select:focus{
    box-shadow: 0 0 3px 0 var(--primary-light);
}

.form-field label{
    font-weight: 300;
    position:absolute;
    background-color: white;
    left: 0.5rem;
    top: -1.15rem;
    margin: 5px;
    color: var(--primary);
    padding: 0 10px;
}

.form-btn {
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: row;
  justify-content: center;
  gap: 1rem;
}

.form-btn input[type="submit"],
.form-btn input[type="button"] {
    width: 5rem;
    height: 3rem;
    background-color: var(--primary);
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
}

.form-btn input[type="submit"]:disabled {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    cursor: not-allowed;
}   

.form-btn input[type="submit"]:disabled:hover {
    background-color: transparent;
}

.form-btn input[type="submit"]:hover {
    background-color: var(--primary-light);
}   

.form-field span{
    position: absolute;
    right: 1rem;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
    font-size: small;
    top: -15px;
}

.loginError{
    position: fixed;
    top: 75px;
    margin: auto;
    color: red;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 10;
}

.loginError span{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid red;
    font-size: medium;
}

.card-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card{
    display: grid;
    
    grid-template-columns: 150px 1fr;
    gap: 0.5rem;
    border: 1px solid var(--primary);
    padding: 1rem;
    justify-items: right;
    border-radius: 15px;
    box-shadow: 0 0 3px 0 var(--primary);
}


.card span:first-child{
    font-size: large;
    color: var(--primary);
    justify-self: start;
    align-self: center;
    grid-row: 1  /  span 2;
    grid-column: 1 ;
}

.card span {
  grid-column: 2;
}

.card div{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    grid-row: 3 / span 2;
    grid-column: 1;
}

.edit-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.90);
}

.edit-form form{
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1076px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }

  .card-wrap{
      grid-template-columns: 1fr;
  }

}


@media screen and (max-width: 976px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .login-form {
    border-bottom: 0.5px solid var(--primary);
    border-right: none;
  }

}